.login_container {
  width: 600px;
  color: var(--black);
  background: var(--white);
  margin: 100px auto 0 auto;
  padding: 1.6rem;
  text-align: center;
  border-radius: 16px;
}
.input_container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem;
}
.label_container {
  font-size: 2rem;
  width: 120px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.image_placeholder {
  width: 32px;
  height: 32px;
}
.input_el {
  flex-grow: 1;
}
.input_submit {
  background: var(--primary-bg);
  color: var(--white);
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid var(--primary-bg);
  border-radius: 4px;
  transition: 500ms all ease-in;
}
.input_submit:hover {
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--primary-bg);
}
@media screen and (max-width: 600px) {
  .login_container {
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .input_container {
    flex-direction: column;
  }
  .login_container {
    width: 300px;
  }
}
